.todo-button-wrapper {
  display: flex;
}

.todo-button {
  padding: 10px 15px;
  border: none;
  color: white;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  cursor: pointer;
  transition: opacity 1s ease-in-out;
  opacity: 1;

  &:active,
  &:hover {
    opacity: 0.5
  }

  //&:l {
  //  border-bottom-right-radius: 8px;
  //  border-top-right-radius: 8px;
  //}
}
